In [1]:
html = """
<html>
  <head>
    <title>온라인 쇼핑몰</title>
  </head>
  <body>
    <h1>
      장바구니
      <p id="clothes" class="name" title="라운드티">
        라운드티
        <span class="number">25</span>
        <span class="price">29000</span>
        <span class="menu"> 의류</span>
        <a href="http://www.naver.com">바로가기</a>
      </p>
      <p id="watch" class="name" title="시계">
        시계
        <span class="number">28</span>
        <span class="price">32000</span>
        <span class="menu"> 악세사리</span>
        <a href="http://www.facebook.com">바로가기</a>
      </p>
    </h1>
  </body>
</html>
"""

In [2]:
html

'\n<html>\n  <head>\n    <title>온라인 쇼핑몰</title>\n  </head>\n  <body>\n    <h1>\n      장바구니\n      <p id="clothes" class="name" title="라운드티">\n        라운드티\n        <span class="number">25</span>\n        <span class="price">29000</span>\n        <span class="menu"> 의류</span>\n        <a href="http://www.naver.com">바로가기</a>\n      </p>\n      <p id="watch" class="name" title="시계">\n        시계\n        <span class="number">28</span>\n        <span class="price">32000</span>\n        <span class="menu"> 악세사리</span>\n        <a href="http://www.facebook.com">바로가기</a>\n      </p>\n    </h1>\n  </body>\n</html>\n'

In [7]:
# find(), find_all() 함수로 요소 찾기

from bs4 import BeautifulSoup

soup = BeautifulSoup(html, "html.parser")

a = soup.find_all("p")
len(a)

2

In [6]:
soup.find("p")

<p class="name" id="clothes" title="라운드티">
        라운드티
        <span class="number">25</span>
<span class="price">29000</span>
<span class="menu"> 의류</span>
<a href="http://www.naver.com">바로가기</a>
</p>

In [8]:
# id 속성값으로 데이터 요소 찾기
soup.find(id="clothes")

<p class="name" id="clothes" title="라운드티">
        라운드티
        <span class="number">25</span>
<span class="price">29000</span>
<span class="menu"> 의류</span>
<a href="http://www.naver.com">바로가기</a>
</p>

In [12]:
a = soup.find_all(id="clothes")
a[0]

<p class="name" id="clothes" title="라운드티">
        라운드티
        <span class="number">25</span>
<span class="price">29000</span>
<span class="menu"> 의류</span>
<a href="http://www.naver.com">바로가기</a>
</p>

In [14]:
# 하위 요소를 연이어 찾기

soup.find("p").find("span")

In [17]:
print(soup.find("p").find_all("span"))
print(soup.find("p").find_all("span")[1])

[<span class="number">25</span>, <span class="price">29000</span>, <span class="menu"> 의류</span>]
<span class="price">29000</span>

In [23]:
a = soup.find("span", class_="menu").get_text(strip=True)
print(a)

의류

In [32]:
# select_one(), select() 함수로 요소 찾기

soup.select("p > span.price")

In [33]:
soup.select('#watch')

[<p class="name" id="watch" title="시계">
         시계
         <span class="number">28</span>
 <span class="price">32000</span>
 <span class="menu"> 악세사리</span>
 <a href="http://www.facebook.com">바로가기</a>
 </p>]

In [36]:
## > 바로 밑에 자식 요소만 가지고 온다 

print(soup.select("h1 > .menu"))
print(soup.select("h1 .menu"))

[]
[<span class="menu"> 의류</span>, <span class="menu"> 악세사리</span>]

In [39]:
soup.select_one("h1 .menu").get_text(strip=True)

'의류'

In [42]:
soup.select("h1 .menu")[0].get_text(strip=True)

'의류'

In [45]:
# attrs 로 속성값 추출하기
print(soup.find("a"))
print(soup.a)

<a href="http://www.naver.com">바로가기</a>
<a href="http://www.naver.com">바로가기</a>

In [46]:
soup.find("a").get("href")

'http://www.naver.com'

In [48]:
soup.find("span").get("class")

['number']

In [49]:
soup.find("a").attrs

{'href': 'http://www.naver.com'}

In [50]:
soup.select("span", {"title": "라운드티"})

[<span class="number">25</span>,
 <span class="price">29000</span>,
 <span class="menu"> 의류</span>,
 <span class="number">28</span>,
 <span class="price">32000</span>,
 <span class="menu"> 악세사리</span>]

In [51]:
soup.h1.p.span

In [52]:
soup.select_one("h1 p span")

In [53]:
# 부모요소 찾기
soup.a.find_parent()

In [67]:
soup.select_one("a").parent

<p class="name" id="clothes" title="라운드티">
        라운드티
        <span class="number">25</span>
<span class="price">29000</span>
<span class="menu"> 의류</span>
<a href="http://www.naver.com">바로가기</a>
</p>

In [84]:
soup.select_one("span.number").find_next_siblings()[-1]